# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
*.db-wal
*.db-shm
/.vs/raylib_test
/raylib_test/raylib_test.vcxproj.filters
/raylib_test/raylib_test.vcxproj
/raylib_test.sln
